#imge-3{
    
    width: 300px;
    height: 200px;
}
.C{
    display: inline-block;
    width: 300px;
    height:200px;
    border:5px solid #d42e0d;
    background-color: rgb(5, 25, 33);
    font-size: 14px;
    margin: 20px;
    padding: 30px;
}