*{
    margin:39px;
    padding: 0px;
}
p.example{
    border: 3px solid;
    border-color: brown;
}

    


#imge-equalizer{
   
    width: 189px;
    height: 288px;
    display:inline-block;
    margin:10px;
    padding:0%;

}  
#imge-Expend4bles{
    
    width: 189px;
    height: 288px;
    display:inline-block;
    margin:10px;
    padding: 0%;
}

#imge-loki{
    width:189px;
    height:288px;
    display:inline-block;
    margin: 10px;
    padding: 0%;
}
#imge-saw{
    width:189px;
    height:288px;
    display:inline-block;
    margin:10px;
    padding: 0%;
}
#imge-mis{
    width:189px;
    height:288px;
    display:inline-block;
    margin: 10px;
    padding: 0%;
}
#imge-wi{
    width:189px;
    height:288px;
    display:inline-block;
    margin: 10px;
    padding: 0%;
}
#imge-ah{
    width:189px;
    height:288px;
    display:inline-block;
    margin:10px;
    padding: 0%;
}
#imge-br{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;
}
 #imge-ga{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;
 }  
#imge-wal{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;
}
#imge-kar{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;
}
#imge-boys{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;

}
#imge-broth{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;

}
#imge-che{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;

}
#imge-sopr{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;
}
#imge-k{
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:8px;
}
#imge-interstelar{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px;
}
#imge-nnnn{
   width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-dark{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-avengers{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-jan{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px;   
}
#imge-miss{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-bourne{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-se7en{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-pulp{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-departed{
    width: 150px;
    height: 150px;
    display:inline-block;
    margin:8px; 
}
#imge-leonardo{
    width: 135px;
    height: 135px;
}
#imge-mat{
    width: 135px;
    height: 135px;  
}
#imge-jison{
    width: 140px;
    height: 135px;  
}
#imge-silvester{
    width: 140px;
    height: 135px; 
}
#imge-tam{
    width: 140px;
    height: 135px;  
}
#imge-2222{
    width: 50px;
    height: 50px;
}


.child{
    
    display:inline-block ;
    width: 200px;
    height:590;
    border:5px solid #d42e0d;
    background-color: rgb(5, 25, 33);
    font-size: 14px;
    margin: 10px;
}
.hh{
    
    display:inline-block ;
    width:250px;
    height: 650px;
    border: 5px solid #ce1818;
    background-color: rgb(48, 57, 53);
    margin:40px;
}
.ss{
    display:inline-block ;
    width:250px;
    height:655px;
    border:5px solid #da1818;
    background-color: rgb(48, 57, 53);
    font-size: 14px;
    margin: 40px;
}
.kk{
    display:inline-block ;
    width:250px;
    height:655px;
    border:5px solid #d31717;
    background-color: rgb(48, 57, 53);
    font-size: 14px;
    margin: 40px;
}
.a{
    display: inline-block;
    width: 210px;
    height: 210px;
    background-color: rgb(207, 223, 192);
    border-radius:50% ;
    margin: 15px;
}
.b{
    display:inline-block ;
    width: 210px;
    height: 210px;
    background-color: rgb(207, 223, 192);
    border-radius:50% ;
   margin: 15px;
}
.c{
    display: inline-block;
    width: 210px;
    height: 210px;
    background-color: rgb(207, 223, 192);
    border-radius:50% ;
   margin: 15px;
}
.d{
    display: inline-block;
    width: 210px;
    height: 210px;
    background-color: rgb(207, 233, 192);
    border-radius:50% ;
   margin:15px;
}
.e{
    display: inline-block;
    width: 210px;
    height: 210px;
    background-color: rgb(207, 223, 192);
    border-radius:50% ;
   margin: 15px;
}


p.example{
    border: 3px solid;
    border-color: brown;
    
}


header {
    background-color: #161d1d;
    color: #7f5252;
    padding: 2px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
}
article {
    margin-bottom: 20px;
}

footer {
    background-color: #161d1d;
    color: #fff;
    padding: 1em;
    text-align: center;
}
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}






  

