#imge-Impossible{
    width: 300px;
    height: 500px;
    display:flex;
    margin: 0px;
    padding: 0%;
}
u {
    font-size:50px;
}


#first-h1{

    color:darkorchid;
}
#imge-equalizer{
    width: 300px;
    height: 500px;
    display:flex;
    margin: 0px;
    padding: 0%;
}
#imge-Expend4bles{
    width: 300px;
    height: 500px;
    display:flex;
    margin: 0px;
    padding: 0%;
}
#Impossible Dead Reckoning Part One{
    width: 300px;
    height: 500px;
    display:flex;
    margin: 0px;
    padding: 0%;
}
    
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#main-content {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
